@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #f6f7fb;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    border: 2px solid #222;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description {
    text-align: center;
    margin-bottom: 2rem;
}

.description h1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.description p {
    color: #333;
    line-height: 1.1rem;
    font-size: 0.8rem;
}

.code-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.digit {
    text-align: center;
    width: 4rem;
    font-size: 3rem;
    padding: 1rem 0;
    margin: 0 0.5rem;
    border-color: rgba(0, 0, 0, 0.1);
    -moz-appearance: textfield;
}

.digit:focus {
    outline: none;
}

.digit::-webkit-outer-spin-button,
.digit::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.digit:valid {
    border-color: #3498db;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.disclaimer {
    width: 400px;
    text-align: center;
    font-size: 0.8rem;
    color: #333;
    background-color: #ddd;
    padding: 0.4rem 0.8rem;
    line-height: 1.3rem;
}